/******************   MODAL WINDOW STYLES   ********************/
.wui-overlay {position: fixed; top:0; left:0; width:100% !important; height:100% !important; background:rgba(100,100,100,0.7);}
.wui-window {background:#fff; margin:0 auto; box-shadow: 0 0 15px black; position:absolute;}
.wui-window, .wui-window *, .wui-form, .wui-form *, .wui-fe, .wui-fe *, .wui-input, .wui-input * {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	text-decoration: none;
    -moz-box-sizing:    border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing:         border-box !important;
}
.wui-overlay > .wui-window { position: relative; border:1px solid #555; box-shadow: 0 0 24px black; }

.wui-window-header, .wui-window-footer {position: absolute; left:0; background:rgba(0,0,0,0.5); height:40px; line-height: 40px; width:100%; text-align:right;}
.wui-window-header {top:0; cursor:move;}
    .wui-window-header h1 {color:#eee; font-size:1.5em; text-transform: capitalize; margin:0.05em 0.33em; line-height:40px; display:inline-block; position:absolute; left:0.5em;}
.wui-window-footer {bottom:0;}
.wui-win-wrap {height:100%; padding:40px 0; overflow:hidden;}
.wui-window-content {height:100%; padding:10px; overflow:auto;}
    .wui-window p {margin:0.5em 0 1em 0; }
    .wui-window p.err {padding:1em 1em 0.5em 1em; font-weight:bold; color:#900;}

.wui-btn {
    text-align: center; display:inline-block; background-color:rgba(0,0,0,0.25); width:auto; font-size:1.1em;
    -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear;
    border:none; color:#555 !important; font-weight:bold; padding:0 1em; margin-right:1px; outline:0;
}
.wui-window .wui-btn { background-color:rgba(255,255,255,0.4); -moz-user-select:none; -webkit-user-select:none;}
.wui-btn:active, .wui-btn:hover {background-color:#fff; color:#333;}
.wui-btn:active, .wui-btn.selected {-moz-box-shadow:inset 0 0 10px #333; -webkit-box-shadow: inset 0 0 10px #333; box-shadow: inset 0 0 10px #333;}

.wui-window .wui-btn:last-child {margin-right:0px;}
.wui-window .wui-btn.hilight {background-color: #11AAFF; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset; color: #FFFFFF !important; letter-spacing: 0.02em;}
.wui-window .wui-btn.hilight:hover {background-color:#3cf;}
.wui-btn.field-btn, .wui-file-upload .wui-btn, .wui-browse-btn {
    height: 25px; line-height: 25px; position: absolute; right:0; border-radius:0 4px 4px 0; top:0; background-color:#bbb; border:1px solid #aaa; border-left:transparent;
}
.wui-form-err .wui-btn.field-btn {border: 1px solid #a00; border-left:none;}

.ui-resizable-handle {position:absolute; height:4px;}
.ui-resizable-e {right:-4px; top:0px; height:96%; width:4px; cursor:e-resize;}
.ui-resizable-s {bottom:-4px; left:0px; height:4px; width:96%; cursor:s-resize;}
.ui-resizable-se {right:-3%; bottom:-3%; width:4%; height:4%; cursor:se-resize;}

/**/
/*********************   FORM STYLES   ************************/
.wui-form {margin:10px; clear:both; position:relative; font-size:14px;}
    /* Enforce the meaning of these tags */
    .wui-form strong {font-weight:bold !important;}
    .wui-form em {font-style:italic !important;}
    
    /* Spacing between form elements */
    .wui-form > div { margin-bottom:1em; clear:both; position:relative; }
    .wui-form.labels-left > div {margin-bottom:1.5em;}
    .wui-form > div:last-child {margin-bottom:0 !important;}
    
    /* Label Styles: Default, 'Proper', Left */
    .wui-fe label { display:block; text-transform: lowercase; color:#474747; font-size:1.1em; font-weight:bold; margin:0.5em 0 0.25em 0;}
    .wui-form.labels-proper .wui-fe label {font-weight:normal; margin-top:1.5em; text-transform: none;}
    .wui-form.labels-left .wui-fe label {
        width:28%; margin:0 2% 0 0; text-align:right; display:inline-table; vertical-align:top; padding-top:0.33em; text-transform: none;
    }
    
    /* Form Elements - per label type */
    .wui-fe, .wui-input {display:block; position:relative;}
    .wui-form.labels-left .wui-fe > input, .wui-form.labels-left .wui-fe > div,  .wui-form.labels-left .wui-fe > textarea {display:inline-block; width:70%; min-width:70%; max-width:70%;}
    
    /* Validation Styles */
    .wui-form-err, .wui-form-err .feedback {background-color:rgba(255,100,100,0.5); padding:0.5em;}
    .wui-form-err > label, .wui-form-err .feedback, .wui-form-err .feedback a {color:#900;}
    .wui-form-err .feedback {background: none; bottom: -0.2em; left: -45%; top: auto !important; width: 100%; padding:0;}
    .wui-form .wui-form-err input[type=text] {border-color:#c00; background-color:white;}
    
    /* Note Form Item */
    .wui-note {width:100%; text-align:justify; line-height:1.5em; font-size:1em; margin:1.5em 0; display:block; color: #555;}
    
    /* textfield / textarea */
    .wui-input input[type=text], .wui-input input[type=password], .wui-input textarea {
        color: #444; padding:4px; width:100%; min-width:100%; max-width:100%;
        -o-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; font-size: 1em;
    }
    .wui-input input[type=text], .wui-input input[type=password], .wui-input textarea, .wui-html iframe, 
    ul.wui-radio.button li > label, div.wui-hyperlink select, .wui-input.wui-checkbox label.button {
        background-color:#ddd; border:1px solid #ccc;
    }
    .wui-form textarea {font-size:1em;}
    .wui-form input[type=text].empty {color:#777;}
    .wui-form input[type=text][disabled] { background-color:#fff; border:1px dotted #ccc; }
    
    /* combo */
    .wui-combo input[type=text].has-dd {padding-right:30px;}
    .wui-combo-dd {
        position:absolute; background:#fff; list-style:none; z-index:10050; right:0; top:97%; display:none; margin:0 !important; padding:0;
        max-height:150px; overflow:auto; border:1px #ccc solid; border-top:none; width:100%; border-radius: 0 0 4px 4px; 
    }
    .wui-form.labels-left .wui-fe > .wui-combo-dd {width:70%;}
    .wui-combo-dd li { cursor:pointer; padding:2px 5px; margin:0 !important; }
        .wui-combo-dd li.selected { background:#19f; color:#fff; }
    
    .wui-btn.field-btn.dd-switch {
        padding:0; width:25px !important; height:100% !important; background-image:url(../img/wui-icons.png) !important; background-position: -260px -16px !important;
    }
    
    /* files */
    .wui-file-upload .wui-btn, .wui-browse-btn { overflow:hidden; cursor:pointer, margin:0, padding:0; width:80px; height:26px;}
    .wui-file-upload {height:25px;}
    .wui-browse-btn > a.wui-btn {border:none; height:28px; top:-1px; right:-2px; text-indent:-2px; }
    .wui-browse-btn.selected {position:relative;}
    .wui-browse-btn {overflow:hidden; position:absolute; width:80px !important; min-width:80px !important; max-width:80px !important;}
    .wui-form .wui-file-upload input[type="text"] {padding-right:85px !important;}
    .wui-form .wui-file-upload input[type=text].has-file { 
            padding-left:29px !important; padding-right: 48px !important; background-repeat:no-repeat; background-position: 7px 4px;
        }
        .wui-form .wui-file-upload input[type=text].has-file.uploading {background-image:url(../img/16x16-cc.gif);}
        .wui-browse-btn > form {position:absolute; width:80px; height:25px; top:0; right:0; overflow:hidden;}
        .wui-browse-btn > form > input {width:80px;}
    .wui-btn.file-change.field-btn {width:25px; padding:0;}
    
    /* radio / radio-button-style */
    ul.wui-radio {list-style:none; display:block; margin: 0.5em 0 0.5em 10%;}
        .wui-form.labels-left ul.wui-radio {width:70%; margin:0.5em 0 !important; display:inline-block;}
    ul.wui-radio li {margin-bottom:0.5em;}
    ul.wui-radio li input[type=radio] {margin-right:0.33em; vertical-align:middle;}
    .wui-form ul.wui-radio > li > label {width:auto; margin:0; font-weight:normal;}
    
    ul.wui-radio.button, .wui-form.labels-left ul.wui-radio.button {margin:0 !important; position:relative; top:0px;}
    .wui-input ul.wui-radio.button li {display:inline-block; width:auto; overflow:hidden; margin:0;}
    .wui-input ul.wui-radio.button.has-focus {outline:1px dotted #999;}
    .wui-input ul.wui-radio li > label {width:auto !important; text-align:left !important; margin:0 0 0 0.5em !important; padding:0 !important;}
    .wui-input ul.wui-radio.button li > label, .wui-form .wui-checkbox label.button {
        color:#555; display: inline-block; padding: 0 0.5em; text-indent: 0; line-height:24px; height:24px; width:auto; margin:0 !important;
        border-left:1px solid #aaa; border-right-style:none; -moz-user-select:none; -webkit-user-select:none;
    }
    .wui-input ul.wui-radio.button li:first-child > label {border-radius:4px 0 0 4px; border-left-color:#ccc; border-right:none;}
    ul.wui-radio.button li:last-child > label {border-radius: 0 4px 4px 0; border-right:1px solid #ccc;}
    ul.wui-radio.button li > input[type=radio]:checked + label { background:rgba(0,0,0,0.3); box-shadow:inset 0 0 2px #777; border-color:#777; }
    
    /* checkbox & button style */
    .wui-checkbox {width:100%;}
        .wui-form.labels-left .wui-checkbox {padding-left:30%;}
    .wui-form .wui-input.wui-checkbox label {width:100%; font-weight:normal; line-height:1.5em; margin:0; text-align:left;}
    .wui-form .wui-input.wui-checkbox label.button {width:auto; border:1px solid #ccc; overflow:hidden;}
        .wui-checkbox label input {margin-right:1em; display:inline-block;}
        .wui-checkbox label.button.checked { background:rgba(0,0,0,0.3); box-shadow:inset 0 0 2px #777; border-color:#777; }
        .wui-checkbox label.button.has-focus {outline:1px dotted #999;}
        
    /* hyperlink */
    .wui-hyperlink {padding-bottom:5px;}
        .wui-hyperlink .feedback {position:absolute; top:26px;}
    .wui-link-third {
        display:inline-block; width:19%; margin-right:1%; 
        -webkit-transition: all 0.33s linear; -moz-transition: all 0.33s linear; -o-transition: all 0.33s linear; transition: all 0.33s linear;
    }
    .wui-link-third > div {min-width:100% !important;}
    .wui-link-third:last-child {margin-right:0;}
    .wui-link-third.wui-link-focus {display:inline-block; width:60%;}
        .wui-link-third label {display:none !important;}
    
    /* date picker / date range */
    div.wui-date {position:relative;}
    .feedback { font-size: 0.8em; height: 1.5em; max-height: 1.5em; line-height: 1.5em; text-transform:capitalize; color:#555; overflow:hidden;}
    .feedback a {text-transform:none; color: #1AF;}
    
    div#ui-datepicker-div {display:none;}
    div.ui-datepicker { border-radius: 4px; border: 1px solid #2f57a6; background-color:white; padding:0.5em 0.67em; display:table; }
        div.ui-datepicker-header{ 
            padding: 0.2em 0; position: relative; border-radius:4px; border: 1px solid #AAAAAA;
            color: #222222; font-weight: bold; background:#dd; margin-bottom:0.25em;
        }
            a.ui-datepicker-prev, a.ui-datepicker-next { 
                height: 1.7em; position: absolute; top: 2px; width: 1.7em; border:1px solid #999; border-radius:4px;
            }
            a.ui-datepicker-prev:hover, a.ui-datepicker-next:hover {background:#eee;}
            a.ui-datepicker-prev {left:2px;}
            a.ui-datepicker-next {right:2px;}
            
                a.ui-datepicker-prev span, a.ui-datepicker-next span {
                    display: block; left: 50%; margin:-6px 0 0 -6px; position: absolute; width:12px; height:12px;
                    top: 50%; overflow:hidden; text-indent: -9999px; background-image:url(../img/wui-icons.png);
                }
                a.ui-datepicker-prev span {background-position:-80px 0;}
                    a.ui-datepicker-prev:hover span {background-position:-80px -17px;}
                    a.ui-datepicker-prev:active span {background-position:-80px -34px;}
                a.ui-datepicker-next span {background-position:-48px 0;}
                    a.ui-datepicker-next:hover span {background-position:-48px -17px;}
                    a.ui-datepicker-next:active span {background-position:-48px -34px;}
            
        div.ui-datepicker-title { line-height: 1.7em; margin: 0 3.5em; text-align: center; }
        table.ui-datepicker-calendar{ border-collapse: collapse; font-size: 0.9em; margin: 0 0 0.4em; width: 100%; }
    
    input.hasDatepicker {padding-right:2.5em !important;}
    .ui-datepicker-trigger {
        background: url(../img/wui-icons.png) no-repeat; background-position:-224px 0px;
        width:13px; height:12px; position:absolute; right:0.75em; top:0.5em; border:0;
    }
    
    .ui-datepicker-trigger:hover {background-position:-224px -34px;}
    .ui-datepicker-trigger:active {background-position:-224px -17px;}
    
    .ui-datepicker td span, .ui-datepicker td a {
        display: block; padding: 0.2em; text-align: right; text-decoration: none; font-size:1.25em; width:2em;
    }
    .ui-state-default { background: #E6E6E6; border: 1px solid #D3D3D3; color: #555555; font-weight: normal;}
    .ui-state-highlight { background: #FBF9EE; border: 1px solid #FCEFA1; color: #363636; }
    .ui-state-active { background: #EEF9FB; border: 1px solid #A1EFFC; color: #363636; }
    .ui-state-disabled {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -khtml-opacity: 0.5;
        -moz-opacity: 0.5;
        opacity: 0.5;
    }

/********************* JHTMLArea WYSIWYG Styles ***************************/
.wui-html, .wui-html * {
    -o-box-sizing: border-box !important; -moz-box-sizing: border-box !important; -webkit-box-sizing: border-box !important; box-sizing: border-box !important;
}
.wui-html {position:relative; display: inline-block; width:100%; overflow:hidden; min-height:70px !important; height:70px;}
.wui-html iframe {
	overflow:auto; width:100%; border-radius:4px; padding-bottom:28px;min-height:100% !important; height:100% !important;
}
.wui-html > div {height:100%;}
.wui-html > .ui-resizable-se {
	right:4px; bottom:4px; width:12px; height:12px; background:#090; background:url(../img/wui-icons.png) no-repeat -254px 0;
}
.wui-html .ui-resizable-s, .wui-html .ui-resizable-e {display:none !important;}

.wui-html .tools {
	min-width:100%; bottom:0; left:0; position:absolute; height:28px; border-top:1px dashed #fff; opacity:0;
	-webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear;
}
.wui-html:hover .tools, .wui-html:focus .tools {opacity:100;}
.wui-html .tools ul { margin: 1px !important; padding: 1px !important; float: left; }
.wui-html .tools ul li { list-style-type: none; float: left; border: none; padding: 3px; margin: 1px; }
.wui-html .tools ul li:hover {background: rgba(255,255,255,0.4);}
.wui-html .tools ul li.separator {height: 16px; margin: 0 2px 0 3px; border-left: 1px solid #ccc;}

.wui-html .tools a { display: block; width: 16px; height: 16px; background: url(../img/jHtmlArea.png) no-repeat; border: none; cursor: pointer; padding: 0px; }
.wui-html .tools a.highlighted { border: solid 1px #aaa; background-color: #bbb; padding: 0; }


.wui-html .tools a.bold { background-position: 0 0; }
.wui-html .tools a.italic { background-position: -16px 0; }
.wui-html .tools a.underline { background-position: -32px 0; }
.wui-html .tools a.strikethrough { background-position: -48px 0; }
.wui-html .tools a.link { background-position: -64px 0; }
.wui-html .tools a.unlink { background-position: -80px 0; }
.wui-html .tools a.orderedlist { background-position: -96px 0; }
.wui-html .tools a.unorderedlist { background-position: -112px 0; }

.wui-html .tools a.html { background-position: -192px 0; opacity:0.6; filter:alpha(opacity=60);}
.wui-html .tools a.html.highlighted { opacity:1.0; filter:alpha(opacity=100);}

.wui-html .tools a.justifyleft { background-position: 0 -32px;}
.wui-html .tools a.justifycenter { background-position: -16px -32px;}
.wui-html .tools a.justifyright { background-position: -32px -32px;}

/********************* Documentation ***************************/
.wui-doc {border:1px solid #aaa; margin:0.5em; padding:1em;}
    .wui-doc h3 {position:relative;}
    .wui-doc p {margin:2em 0 1em 0;}
    .wui-doc pre {width:100%; overflow:auto; font-family:Courier New, monospace, serif; display:none; margin-top:1.5em; color:brown;}
    .wui-doc pre.show-val {display:block; color:blue;}
    
    .wui-doc-info-row {margin-top:0.33em;}
    .wui-doc-info-row div:first-child {display:inline-table; vertical-align:top; width:15%; font-weight:bold; text-align:right; padding-right:1em;}
    .wui-doc-info-row div:last-child {display:inline-block; width:85%;}
	    .wui-doc-var-name {display:inline-table; vertical-align:top; width:25%; font-weight:bold; color:#036;}
	    .wui-doc-var-type {display:inline-table; vertical-align:top; width:10%; text-align:center; font-style:italic;}
	    .wui-doc-var-desc {display:inline-block; width:65%;}
    
    

.wui-doc-private, .wui-doc-deprecated, .wui-doc-awesome {
	display:inline-block; border-radius:3px; font-size:0.7em; text-transform:uppercase; height:1.5em; line-height:1.5em;
    text-align:center; margin-left:0.5em; border:1px solid;
}
.wui-doc-private { width:5em; color:#194;  border-color:#194; }
.wui-doc-deprecated { width:7em;  color:#F90;  border-color:#F9O; }
.wui-doc-awesome{ width:6.5em;  color: #09F;  border-color: #09F; letter-spacing:1px; }