/******************   VIEWPORT STYLES   ********************/
@keyframes nodeInserted { from { clip: rect(1px, auto, auto, auto); } to { clip: rect(0px, auto, auto, auto); } }
@-moz-keyframes nodeInserted { from { clip: rect(1px, auto, auto, auto); } to { clip: rect(0px, auto, auto, auto); } }
@-webkit-keyframes nodeInserted { from { clip: rect(1px, auto, auto, auto); } to { clip: rect(0px, auto, auto, auto); } }
@-ms-keyframes nodeInserted { from { clip: rect(1px, auto, auto, auto); } to { clip: rect(0px, auto, auto, auto); } }
@-o-keyframes nodeInserted { from { clip: rect(1px, auto, auto, auto); } to { clip: rect(0px, auto, auto, auto); } }
.wui-viewport * {
    animation-duration: 0.001s; -o-animation-duration: 0.00001s; -ms-animation-duration: 0.00001s; -moz-animation-duration: 0.00001s; -webkit-animation-duration: 0.00001s;
    animation-name: nodeInserted; -o-animation-name: nodeInserted; -ms-animation-name: nodeInserted; -moz-animation-name: nodeInserted; -webkit-animation-name: nodeInserted;
}

/******************   PANE STYLES   ********************/
.wui-pane, .wui-pane *, .wui-form, .wui-form *, .wui-fe, .wui-fe *, .wui-input, .wui-input *, .ui-datepicker, .wui-combo-dd {
    font-family: Arial, Helvetica, Verdana, sans-serif; font-size:16px; text-decoration: none;
    -moz-box-sizing:    border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing:         border-box !important;
}

.wui-pane {position: relative; border:0px solid #888; width:100%; background:#fff;}
.wui-pane-header, .wui-pane-footer {
	position: absolute; left:0; height:40px; line-height:40px; width:100%; text-align:right; overflow:hidden;
    background:#888; text-shadow:0 0 3px #333; border-top: 1px solid #888; border-bottom: 1px solid #888;
}
.wui-pane-header {top:0;}
.wui-pane-footer {bottom:0;}
    .wui-pane-header h1 {color:#eee; font-size:1em; text-transform: capitalize; margin:0.05em; line-height:40px; display:inline-block; position:absolute; left:0.33em; width: auto;}
.wui-pane-wrap {height:100%; overflow:hidden;}
.wui-pane-content {height:100%; overflow:auto; position: relative;}
    .wui-pane-content p { margin:0.5em 0.5em 1em; font-size:0.8em;}
    .wui-pane p.err { padding:1em; font-weight:bold; color:#900;}
    
/******************   MODAL WINDOW STYLES   ********************/
.wui-overlay {position: fixed; top:0; left:0; width:100% !important; height:100% !important; background:rgba(100,100,100,0.7);}
.wui-window {margin:0 auto; box-shadow: 0 0 15px black; position:absolute;}
.wui-pane.wui-window {width:auto;}
    .wui-window > .wui-pane-header {cursor:move;}
.wui-overlay > .wui-window { position: relative; box-shadow: 0 0 24px black; }

.wui-btn {
    text-align: center; display:inline-block; background-color:#ccc; width:auto; font-size: 0.8em; border:1px solid transparent;
    -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear;
    color:#555; padding:0 1em; outline:0; cursor:pointer; -moz-user-select:none; -webkit-user-select:none;
}
.wui-btn:active, .wui-btn:hover, .wui-btn.selected  {background-color:#fff; border:1px solid #ccc;}
.wui-btn:active {box-shadow: inset 0 0 10px #333; border:none;}

.wui-pane-header .wui-btn, .wui-pane-footer .wui-btn, .wui-pane-header .wui-btn:hover, .wui-pane-footer .wui-btn:hover,
.wui-pane-header .wui-btn:active, .wui-pane-footer .wui-btn:active {border-left:1px solid #888; border-top-color:transparent; border-right-color:transparent; border-bottom-color:transparent; text-shadow:none;}

.wui-btn.disabled {background-color:transparent;}
.wui-btn.disabled:active, .wui-btn.disabled:hover {box-shadow: none; background-color:transparent;}
.wui-btn.disabled:active {background-color:transparent;}

.wui-btn.field-btn, .wui-file-upload .wui-btn, .wui-browse-btn {
    position: absolute; right:0; border-radius:0 4px 4px 0; top:0; background-color:#bbb; border:1px solid #aaa; border-left:transparent;
}
.wui-form-err .wui-btn.field-btn {border: 1px solid #a00; border-left:none;}

.ui-resizable-handle {position:absolute; height:4px;}
.ui-resizable-e {right:-4px; top:0px; height:96%; width:4px; cursor:e-resize;}
.ui-resizable-s {bottom:-4px; left:0px; height:4px; width:96%; cursor:s-resize;}
.ui-resizable-se {right:-3%; bottom:-3%; width:4%; height:4%; cursor:se-resize;}

/*********************   FIELD/BUTTON HEIGHT ***********************/
.wui-btn.field-btn, .wui-file-upload .wui-btn, .wui-browse-btn, .wui-browse-btn > form, .wui-fe input[type=text] {height:26px;}
.wui-btn.field-btn, .wui-file-upload .wui-btn, .wui-browse-btn, .wui-browse-btn > form {line-height:26px;}

/*********************   FORM STYLES   ************************/
.wui-form {margin:.5em; padding:1em; clear:both; position:relative; background-color:#fff;}
    /* Enforce the meaning of these tags */
    .wui-form strong {font-weight:bold !important;}
    .wui-form em {font-style:italic !important;}
    
    /* Spacing between form elements */
    .wui-form > div { margin-bottom:1em; clear:both; position:relative; }
    .wui-form.labels-left > div {margin-bottom:1.5em;}
    .wui-form > div:last-child {margin-bottom:0.5em !important;}
    
    /* Label Styles: Default, 'Proper', Left */
    .wui-fe label { display:block; text-transform: lowercase; color:#555; font-weight:bold; margin:0.5em 0 0.25em 0; font-size:0.9em;}
    .wui-form.labels-proper .wui-fe label {font-weight:normal; margin-top:1.5em; text-transform: none;}
    .wui-form.labels-left .wui-fe > label {
        width:28%; margin:0 2% 0 0; text-align:right; display:inline-table; vertical-align:top; padding-top:0.33em; text-transform: none; line-height: 26px;
    }
    
    /* Form Elements - per label type */
    .wui-fe, .wui-input {display:block; position:relative; line-height:1em !important;}
    .wui-form.labels-left .wui-fe > input, .wui-form.labels-left .wui-fe > div,  .wui-form.labels-left .wui-fe > textarea,
    .wui-form.labels-left .wui-radio ul, .wui-form.labels-left .wui-checkbox ul { display:inline-block; width:70%; }
    
    /* Note Form Item */
    .wui-pane-content p.wui-note, .wui-note {width:100%; text-align:justify; line-height:1.5em; font-size:0.8em; margin:1.5em 0; display:block; color: #555;}
    
    /* textfield / textarea */
    .wui-fe input, .wui-fe textarea { color: #444; padding:4px; width:100%; border-radius:4px; font-size: 0.8em; }
    .wui-fe input, .wui-fe textarea, .wui-html iframe, .button li label { background-color:#ddd; border:1px solid #ccc; }
    .wui-fe .empty, .wui-input .empty {color:#777;}
	
	/* Validation Styles */
    .wui-form-err, .wui-form-err .feedback {background-color:rgba(255,100,100,0.5); padding:0.5em;}
    .wui-form-err > label, .wui-form-err .feedback, .wui-form-err .feedback a {color:#900;}
    .wui-form-err .feedback {background: none; bottom: -0.2em; left: -45%; top: auto !important; width: 100%; padding:0;}
    .wui-form .wui-form-err input[type=text] {border-color:#c00; background-color:white;}
	
	/* disabled form styles */
    .wui-fe input[type=text][disabled], .wui-fe textarea[disabled] { background-color:transparent; border:1px dotted #ccc; color:#ccc; }
    .wui-disabled .ui-datepicker-trigger, .wui-disabled.wui-combo .wui-btn, .wui-disabled .wui-combo .wui-btn, .wui-disabled .wui-html > div { display:none; }
	.wui-disabled .wui-html textarea {display:inline-block !important;}
	.wui-form-err.wui-disabled.wui-fe input[type=text][disabled], .wui-form-err.wui-disabled.wui-fe textarea[disabled] {border-color:#fff; color:#fdd;}
	.wui-fe.wui-disabled > label { font-style: italic; font-weight: normal; }
	
	/* combo */
	.wui-combo input[type=text].has-dd {padding-right:27px;}
    .wui-combo-dd {
        background:#fff; list-style:none; display:none; margin:0 !important; padding:0; position:absolute; 
        max-height:150px; overflow:auto; border:1px #ccc solid; border-top:none; border-radius: 0 0 4px 4px;
    }
	.wui-inline-dd {right:0; top:98%; width:100%;}
    .wui-combo-dd li { cursor:pointer; padding:2px 5px; margin:0 !important;  font-size:0.9em; }
        .wui-combo-dd li.selected { background:#19f; color:#fff; }
    .dd-wrapper, .file-wrapper {position:relative;}
    .wui-btn.field-btn.dd-switch { padding:0; width:26px; background-image:url(../img/wui-icons.png); background-position: -12px -10px; }
    
    /* files */
    .file-wrapper input[type=text] {padding-right:85px;}
    .file-wrapper input[type=text].has-file { 
	   padding-left:29px !important; padding-right: 48px !important; background-repeat:no-repeat; background-position: 7px 4px;
	}
	.file-wrapper input[type=text].has-file.uploading {background-image:url(../img/16x16-cc.gif);}
	.wui-browse-btn { overflow:hidden; cursor:pointer; margin:0; padding:0; width:60px; position:absolute;}
	.wui-browse-btn > .wui-btn {border:none; height:28px; top:-1px; right:-2px; text-indent:-2px; width:60px; padding:0; }
	.wui-browse-btn.selected {position:relative;}
	.wui-browse-btn > form {position:absolute; width:60px; top:0; right:0; overflow:hidden;}
	.wui-browse-btn > form > input {width:60px;}
	.wui-btn.file-change.field-btn {width:26px; padding:0; display:none;}
	
	.wui-fe input.has-file[type="text"][disabled] { color:#555; } 
    .has-file { background-image:url(../img/page_white.png); color:#555; } 
	.icon-pdf { background-image:url(../img/page_white_acrobat.png); }
    .icon-png, .icon-jpeg, .icon-jpg, .icon-gif, .icon-bmp, .icon-ai, .icon-psd { background-image:url(../img/image.png); }
    .icon-mov, .icon-wmv, .icon-m4v, .icon-mpeg, .icon-mpeg4, .icon-fla { background-image:url(../img/film.png); }
    .icon-doc, .icon-docx, .icon-dot, .icon-dotx { background-image:url(../img/page_white_word.png); }
    .icon-xls, .icon-xlsx, .icon-csv { background-image:url(../img/page_white_excel.png); }
    .icon-ppt, .icon-pptx, .icon-pot, .icon-potx { background-image:url(../img/page_white_powerpoint.png); }
    .icon-zip, .icon-dmg { background-image:url(../img/page_white_zip.png); }
    
    /* radio/checkbox */
    .wui-fe input[type=radio], .wui-fe input[type=checkbox] {width:auto;}
    .wui-radio ul, .wui-checkbox ul {list-style:none; display:block; margin:0; padding:0;}
    .wui-radio input, .wui-checkbox input, .wui-radio ul label, .wui-checkbox ul label {width:auto; display:inline-block; font-weight:normal; text-transform:none; margin:0; padding:0;}
    
    .wui-radio ul.button, .wui-checkbox ul.button {margin-top:0.5em; -moz-user-select:none; -webkit-user-select:none;}
    .button li {overflow:hidden; display:inline-block;}
	.wui-fe ul.button label {display:inline-block; width:auto; margin:0; padding:0.25em 0.5em;}
	    .button li > input {display:none;}
		.button li > input:checked + label { background:rgba(0,0,0,0.3); box-shadow:inset 0 0 2px #777; border-color:#777; }
	    .button li:first-child label {border-top-left-radius:4px; border-bottom-left-radius:4px;}
	    .button li:last-child label {border-top-right-radius:4px; border-bottom-right-radius:4px;}
    
    .wui-checkbox.button.checked { background:rgba(0,0,0,0.3); box-shadow:inset 0 0 2px #777; border-color:#777; }
        .wui-checkbox.button.has-focus {outline:1px dotted #999;}
        
    /* hyperlink */
    .wui-link-third {
        display:inline-block; width:19%; margin-right:1%; 
        -webkit-transition: all 0.33s linear; -moz-transition: all 0.33s linear; -o-transition: all 0.33s linear; transition: all 0.33s linear;
    }
    .wui-link-third.wui-fe input, .wui-link-third > div {min-width:100%;}
    .wui-link-third.no-margin {margin-right:0;}
    .wui-link-third.wui-link-focus {display:inline-block; width:60%;}
        .wui-link-third label {display:none !important;}
    
    /* date picker / date range */
    .wui-date {position:relative;}
    .feedback, .feedback span { font-size: 0.6em; text-transform:uppercase; overflow:hidden;}
    .feedback a {text-transform:none; color: #1AF; font-size:1.8em;}
    
    .ui-datepicker { background-color:#fff; padding:0.25em; display:table; font-size:0.8em; box-shadow: 0 0 3px; display:none; }
        .ui-datepicker-header{padding: 0.2em 0; position: relative; background-color:rgba(0,0,0,0.5); color: #fff;}
            .ui-datepicker-prev, .ui-datepicker-next {height: 1.75em; position: absolute; top: 2px; width: 1.7em;}
                .ui-datepicker-prev {left:2px;}
                .ui-datepicker-next {right:2px;}
                .ui-datepicker-prev span, .ui-datepicker-next span {
                    display: block; left: 50%; margin:-6px 0 0 -6px; position: absolute; width:12px; height:12px;
                    top: 50%; overflow:hidden; text-indent:-999px; background-image:url(../img/wui-icons.png);
                }
                .ui-datepicker-prev span {background-position:-162px 0;}
                    .ui-datepicker-prev:hover span {background-position:-162px -17px;}
                    .ui-datepicker-prev:active span {background-position:-162px -34px;}
                .ui-datepicker-next span {background-position:-146px 0;}
                    .ui-datepicker-next:hover span {background-position:-146px -17px;}
                    .ui-datepicker-next:active span {background-position:-146px -34px;}
            
        .ui-datepicker-title { line-height: 1.7em; margin: 0 3.5em; text-align: center; font-weight: bold; }
        .ui-datepicker-calendar{ border-collapse: collapse; font-size: 0.9em; margin: 0 0 0.4em; width: 100%; }
            .ui-datepicker-calendar th {color:#333; padding:0.2em 0;}
    
    .wui-fe input[type="text"].hasDatepicker {padding-right:2em;}
    .ui-datepicker-trigger {
        background: url(../img/wui-icons.png) no-repeat -95px -32px; width:13px; height:12px; position:absolute; right:0.5em; top:7px; border:0;
    }

    .ui-datepicker td span, .ui-datepicker td a {
        display: block; text-align: right; text-decoration: none; font-size:1.5em; width:1.75em; padding:0.1em 0.25em 0.1em 0.1em; color: #333; font-weight: normal;
    }
    .ui-state-default { background: #ddd; }
    .ui-state-highlight { background:#fc0; /*#FCEFA1;*/ }
    .ui-datepicker td a.ui-state-active { background:#0cf; color:#fff; font-weight:bold; }
    .ui-state-disabled { opacity: 0.5; }

/********************* JHTMLArea WYSIWYG Styles ***************************/
.wui-html, .wui-html * {
    -o-box-sizing: border-box !important; -moz-box-sizing: border-box !important; -webkit-box-sizing: border-box !important; box-sizing: border-box !important;
}
.wui-html {position:relative; display: inline-block; width:100%; overflow:hidden; min-height:70px !important; height:70px;}
.wui-html iframe {
    overflow:auto; width:100%; border-radius:4px; padding-bottom:28px;min-height:100% !important; height:100% !important;
}
.wui-html > div {height:100%;}
.wui-html > .ui-resizable-se {
    right:4px; bottom:4px; width:12px; height:12px; background:#090;
    background:url(../img/wui-icons.png) no-repeat -254px 0;z-index: auto !important;
}
.wui-html .tools {
    min-width:100%; bottom:0; left:0; position:absolute; height:28px; border-top:1px dashed #fff; opacity:0;
    -webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear;
}
.wui-html:hover .tools, .wui-html:focus .tools {opacity:100 !important;}
.wui-html .tools ul { margin: 1px !important; padding: 1px !important; float: left; }
.wui-html .tools ul li { list-style-type: none; float: left; border: none; padding: 3px; margin: 1px; }
.wui-html .tools ul li:hover {background: rgba(255,255,255,0.4);}
.wui-html .tools ul li.separator {height: 16px; margin: 0 2px 0 3px; border-left: 1px solid #ccc;}

.wui-html .tools a { display: block; width: 16px; height: 16px; background: url(../img/wui-icons.png) no-repeat; border: none; cursor: pointer; padding: 0px; }
.wui-html .tools a.highlighted { border: solid 1px #aaa; background-color: #bbb; padding: 0; }

.wui-html .tools a.bold { background-position: -46px 0; }
.wui-html .tools a.italic { background-position: -62px 0; }
.wui-html .tools a.underline { background-position: -79px 0; }
.wui-html .tools a.strikethrough { background-position: -94px 0; }
.wui-html .tools a.link { background-position: -110px 0; }
.wui-html .tools a.unlink { background-position: -126px 0; }
.wui-html .tools a.orderedlist { background-position: -128px -16px; }
.wui-html .tools a.unorderedlist { background-position: -46px -16px; }

.wui-html .tools a.html { background-position: -192px 0; opacity:0.6; filter:alpha(opacity=60);}
.wui-html .tools a.html.highlighted { opacity:1.0; filter:alpha(opacity=100);}

.wui-html .tools a.justifyleft { background-position: -62px -16px;}
.wui-html .tools a.justifycenter { background-position: -77px -16px;}
.wui-html .tools a.justifyright { background-position: -94px -16px;}
.wui-html .tools a.html { background-position: -110px -16px;}

/********************* Documentation ***************************/
.wui-doc {border:1px solid #aaa; margin:0.5em; padding:1em;}
    .wui-doc h3 {position:relative;}
    .wui-doc p {margin:2em 0 1em 0;}
    .wui-doc pre {width:100%; overflow:auto; font-family:Courier New, monospace, serif; display:none; margin-top:1.5em; color:brown;}
    .wui-doc pre.show-val {display:block; color:blue;}
    
    .wui-doc-info-row {margin-top:0.33em;}
    .wui-doc-info-row div:first-child {display:inline-table; vertical-align:top; width:15%; font-weight:bold; text-align:right; padding-right:1em;}
    .wui-doc-info-row div:last-child {display:inline-block; width:85%;}
        .wui-doc-var-name {display:inline-table; vertical-align:top; width:25%; font-weight:bold; color:#036;}
        .wui-doc-var-type {display:inline-table; vertical-align:top; width:10%; text-align:center; font-style:italic;}
        .wui-doc-var-desc {display:inline-block; width:65%;}

.wui-doc-private, .wui-doc-deprecated, .wui-doc-awesome {
    display:inline-block; border-radius:3px; font-size:0.7em; text-transform:uppercase; height:1.5em; line-height:1.5em;
    text-align:center; margin-left:0.5em; border:1px solid;
}
.wui-doc-private { width:5em; color:#194;  border-color:#194; }
.wui-doc-deprecated { width:7em; color:#F90; border-color: #F90; }
.wui-doc-awesome{ width:6.5em; color: #09F;  border-color: #09F; letter-spacing:1px; }


/********************* Grid Styles ***************************/
.wui-ghs {height:1px !important; overflow:hidden; margin:-1px 0 0;}
.wui-gh {width:100%; overflow:hidden; position: absolute; background-color:#555;}
.wui-gh * {-moz-user-select:none; -webkit-user-select:none;}
.wui-gh ul {margin:0; padding:0; min-width:100%; height:2em; overflow:hidden;}
    .wui-gc {
        background-color:#555; color:#fff; text-transform:uppercase; font-size:0.9em; 
        font-weight:bold; padding:0.5em 3em 0.5em 0.5em; text-align:left; float:left; list-style: none; margin:0;
        border-right:1px solid #fff; text-shadow: 0 0 3px rgba(0,0,0,0.4); position: relative; height:2.25em; min-height:2.25em;
        white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
    }
	.wui-gc:last-child {border-right:none;}
	.wui-gc .ui-resizable-handle.ui-resizable-e {width:15px; right:-8px; cursor: col-resize;}
    
.grid-body {width:100%; max-width: 100%; min-width: 100%; border-top:1px solid #fff; overflow:auto; position: absolute; background:#fff; color:#444;}

.wui-pane-content > .wg-loader {left:48%; top:45%;}
.wui-pane-content > .wg-loader.hidden {left:0; top:0;}

.grid-body table {border-collapse:separate; border-spacing:1px; table-layout:fixed;}

.grid-body table tr td {
    background-color:#ddd; background-position:center center; border-bottom:0;
}
.grid-body table tr td div {width:100%; height:100%; padding:0.25em; position:relative; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.grid-body table .even td {background-color:#eee;}
.grid-body table .odd td {background-color:#ddd;}
.grid-body table .wui-selected td {background-color:#0cf;}

.wui-gc:after {
    background-color: rgba(0, 0, 0, 0.3); border-radius: 1em; color: #FFF; font-size: 0.8em; 
    padding: 0.2em 0.7em; position: absolute; right: 6px; top: 0.6em; text-shadow:0 0 2px black, 0 0 4px black;
}
.wui-gc.one.asc:after {content:"1 ↓";} .wui-gc.one.desc:after {content:"1 ↑";}
.wui-gc.two.asc:after {content:"2 ↓";} .wui-gc.two.desc:after {content:"2 ↑";}
.wui-gc.three.asc:after {content:"3 ↓";} .wui-gc.three.desc:after {content:"3 ↑";}
.wui-gc.four.asc:after {content:"4 ↓";} .wui-gc.four.desc:after {content:"4 ↑";}
.wui-gc.five.asc:after {content:"5 ↓";} .wui-gc.five.desc:after {content:"5 ↑";}

.wui-paging-pad {position:relative; width:1px;}
.wui-paging-pad table {position:absolute; left:0;}

/********************* Tab Styles ***************************/
.wui-tab-panel {width:100%; height:100%; min-width: 100%; min-height: 100%; display:none; overflow: auto;}
.wui-tab-panel.active {display:block;}

.wui-tabs .wui-pane-header {border-top: 1px solid #888; border-bottom:none;}
.wui-tabs .wui-pane-footer {border-top: none; border-bottom: 1px solid #888;}

.wui-tabs .wui-pane-header .wui-tab.wui-btn:hover { box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.5) inset; }
.wui-tabs .wui-pane-footer .wui-tab.wui-btn:hover { box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5) inset; }
.wui-tabs .wui-pane-header .wui-tab.wui-btn.selected:hover, .wui-tabs .wui-pane-footer .wui-tab.wui-btn.selected:hover {box-shadow: none;}

/********************* Nested Panes - Level 1 ***************************/
.wui-pane .wui-pane {border:none;}
.wui-pane .wui-pane .wui-pane-header, .wui-pane .wui-pane .wui-pane-footer {background:#fff; text-shadow:none;}
.wui-pane .wui-pane .wui-pane-header {border: none;}
    .wui-pane .wui-pane .wui-pane-header h1 {color:#555;}
.wui-pane .wui-pane .wui-pane-footer {border:none;}
.wui-pane .wui-pane .wui-pane-content {background-color:#ccc;}
.wui-pane .wui-pane .wui-pane-header .wui-btn, .wui-pane .wui-pane .wui-pane-footer .wui-btn {border: 1px solid; height:26px; line-height:26px; margin-right: 0.5em;}
.wui-pane .wui-pane .wui-pane-header .wui-btn.disabled, .wui-pane .wui-pane .wui-pane-footer .wui-btn.disabled {opacity:0.5;}
.wui-pane .wui-pane .wui-pane-header .wui-fe .wui-btn, .wui-pane .wui-pane .wui-pane-footer .wui-fe .wui-btn {border:0; margin:0;}
.wui-pane .wui-pane .wui-pane-header .wui-btn.wui-tab, .wui-pane .wui-pane .wui-pane-footer .wui-btn.wui-tab {border:none; height: 40px; line-height: 40px; margin-right:0; background-color:#fff;}
.wui-pane .wui-pane .wui-pane-header .wui-btn.wui-tab.selected, .wui-pane .wui-pane .wui-pane-footer .wui-btn.wui-tab.selected {background-color:#ccc;}
.wui-pane .wui-pane .wui-form {overflow:auto; margin:0.5em;}

/********************* Nested Panes - Level 2 ***************************/
.wui-pane .wui-pane .wui-pane .wui-pane-header, .wui-pane .wui-pane .wui-pane .wui-pane-footer {background:#ccc; text-shadow:none;}
    .wui-pane .wui-pane .wui-pane .wui-pane-header h1 {color:#555; font-weight: normal;}


/********************* Form Elements In The Header/Footer ***************************/
.wui-pane-header > .wui-fe, .wui-pane-footer > .wui-fe {max-width:60%; width:200px; display:inline-block; margin: 0 0.5em 0 0; top:-1px; line-height:26px;}
.wui-pane-header > .wui-fe .wui-btn.field-btn.dd-switch, .wui-pane-footer > .wui-fe  .wui-btn.field-btn.dd-switch {top:1px;}
