/*toggle.css*/

.toggle-outer { 
    overflow:hidden; 
    border:1px solid #888; 
    position:relative;
}
.toggler {
    background-color:#555; 
    height:100%; 
    width: 200%;
    display:flex;
    position:absolute; 
    left:0; 
    top:0;
}
    .opt-1, .opt-2 {
        text-shadow: 0 0 3px rgba(0,0,0,0.6); 
        flex:1;
        color:  #fff;
        box-shadow:inset 0 0 5px rgba(0,0,0,0.6); 
        text-align:center;
        font-size: 0.9em;
    }

.toggle-btn {
    background-color:#ccc; 
    position:absolute; 
    top:0; 
    box-shadow:0 0 5px rgba(0, 0, 0, 0.4), inset 0 -5px 10px rgba(255,255,255,0.8);
}

.toggle-outer.toggle-alt .toggler {left:-100%;}

.toggler,.toggle-btn {
    -webkit-transition: all 0.33s linear; 
    -moz-transition: all 0.33s linear; 
    -o-transition: all 0.33s linear; 
    transition: all 0.33s linear;
}