/* styling for Ace editor */

#aceEditor, #aceEditor * {
        font-family: 'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace !important;
        font-size:12px !important;
    }
#aceEditor {
    height: 100%;
    width: 100%;
}

.floatPane {
    display: inline;
    float: left;
}

.rightFloat {
    display: inline;
    float: right;
}
