# Node
node_modules/
npm-debug.log

# macOS
.DS_Store

# Visual Studio Code
.vscode/

# Build artifacts
build/
dist/

# Temporary files
tmp/
*.tmp

# Log files
*.log

# Compiled JavaScript files
*.js
*.map

# Compiled CSS files
*.css

# Compiled assets
*.png
*.jpg
*.gif
*.svg

# Environment variables
.env