html, html * { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }

html, body {min-height:100%;}

body {
    color:#333; font:80%  Arial, Helvetica, Verdana, sans-serif !important; 
    margin: 0; 
    padding: 0; 
}

label {display:block; margin: 0.75em 0; position: relative; padding-left: 200px; width: 600px; min-height: 26px;}
label > span {position: absolute; left: 0; width: 200px; padding-right: 10px; text-align: right;}
label > input {width:100%; border: 1px solid #999; border-radius: 4px;}

fieldset {width: 650px;}

a {color:#0ac;}