@import 'wui';
@import 'variables';

/* Remove Apple Webkit styling */
input[type='button'],
input[type='submit'] {
  -webkit-appearance: none;
}

.tswui-button {
  border-radius: 4px;
  font-size: 1.5em;
  height: 44px;
  padding: 0 0.7em;
  background: $tswui-toolbars;
  border: none;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 3px rgb(53, 71, 97);
  color: $tswui-white;

  &.sm {
    font-size: 1em;
    height: 30px;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: $tswui-white;

    &:first-child {
      margin-right: 0.4em;
    }

    &:last-child {
      margin-left: 0.4em;
    }

    &:only-child {
      margin: 0;
    }
  }

  .simple-loader {
    margin: 1px 0 0 16px;
  }

  &:focus,
  &:active,
  &:hover {
    cursor: pointer;
    outline: 0;
    background-color: $tswui-white;
    box-shadow: 1px 1px 3px $tswui-toolbars;
    color: $tswui-toolbars;

    svg {
      fill: $tswui-toolbars;
    }
  }

  &:active {
    box-shadow: none;
    transform: translate(1px, 1px);
  }

  &.has-loader {
    svg.hide-with-loader {
      display: none;
    }
  }

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.tswui-button[disabled] {
  opacity: 0.4;
}
