.tswui-combo {
  .form-input[type='text'] {
    padding-right: 40px;
    padding-left: 12px;
  }

  .field-button.dd-switch {
    width: 40px;
  }

  svg.show-when-open {
    width: 24px;
    height: 24px;
    transform: translate(-1px, 3px);
    display: none;
  }

  svg.show-when-closed {
    width: 32px;
    height: 32px;
    transform: translate(-1px, 2px);
  }

  &.combo-open {
    [type='text'] {
      border-bottom-width: 0;
      border-radius: 4px 4px 0 0;

      &.positioned-above {
        border-top-width: 0;
        border-bottom-width: 2px;
        border-radius: 0 0 4px 4px;
      }
    }

    svg.show-when-open {
      display: block;
    }

    svg.show-when-closed {
      display: none;
    }
  }

  .twsui-combo-search,
  .simple-loader {
    position: absolute;
    display: none;
    fill: #999;
  }

  .twsui-combo-search {
    width: 24px;
    height: 24px;
    left: 10px;
    top: 8px;
  }

  .simple-loader {
    left: 12px;
    top: 12px;
  }

  &.combo-remote-search {
    .form-input[type='text'] {
      padding-right: 8px;
      padding-left: 40px;
    }

    .twsui-combo-search {
      display: block;
    }

    &.tswui-combo-searching {
      .twsui-combo-search {
        display: none;
      }

      .simple-loader {
        display: block;
      }
    }
  }
}

.tswui-combo-dropdown {
  text-decoration: none;
  box-sizing: border-box;
  background: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  min-height: 4px;
  max-height: 300px;
  overflow: auto;
  text-align: left;
  border: 2px solid;
  border-top-width: 0;
  border-radius: 0 0 4px 4px;

  &.positioned-above {
    border-top-width: 2px;
    border-bottom-width: 0;
    border-radius: 4px 4px 0 0;
  }

  & * {
    -webkit-user-select: none;
    user-select: none;
  }

  .tswui-combo-empty {
    padding: 4px 0;
    text-align: center;
    color: #999;
  }

  .combo-item {
    &.tswui-combo-selected {
      background-color: #0088ff;
      color: #fff;
    }

    .highlighted-content {
      background-color: rgba(255, 238, 0, 0.4);
    }
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
