@import 'variables';

.tswui-list {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 16px;

  &.empty-list,
  .empty-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow: hidden;
    padding-top: 60px;

    svg {
      fill: $tswui-lt-gray;
    }

    &:empty {
      display: none;
    }
  }
}