$radio_button_border_width: 2px;
$tswui-lightest-blue:#e8f4ff;
$tswui-secondary: #00726e;
$tswui-md-blue: #21537e;
$tswui-toolbars: #00aba6;
$tswui-red: #d63853;
$tswui-yellow: #fee455;
$tswui-lightest-gray: #f1f2f2;
$tswui-white: #fff;
$tswui-lt-gray: #cccccc;
$tswui-md-gray: #707070;
$tswui-dk-gray: #333;
$stars_color: $tswui-md-gray;
$tswui-mint: #c1ffe8;