/***************************************   FONTS & COLORS   ****************************************/
.wlt-panel, .wlt-panel * {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px; 
    text-decoration: none;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

/****************************************   PANEL STYLES   *****************************************/
.wlt-panel {
    padding:5px;
    background-color: #7F7F7F;
    position: relative;
    box-shadow: inset 0px -2px 10px rgba(50,50,50,0.33);
    overflow:hidden;
}

.wlt-content {
    background: #fff;
    width: 100%;
    height: 100%;
    overflow:auto;
}

.wlt-title {
    padding-left: 0.33em;
    text-shadow: 0 0 3px #333;
    text-transform: capitalize;
    display: inline-block;
    /* Same height as wlt-header */
    line-height: 34px;
}

.wlt-toolbar {
    /* Changing this value affects .wlt-panel.header, .wlt-panel.footer, .wlt-title */
    height: 34px;
    color: #fff;
    position: absolute;
    left: 0;
    padding: 0 4px; /* The 5px is 1 pixel off from the 6px border width because all header items have a 1px left & right margin */
    width: 100%;
    overflow: hidden;
}
.wlt-header {
    top: 0;
}
.wlt-footer {
    bottom:0;
}

.wlt-panel.header { 
    /* Same value as wlt-header height */
    padding-top: 34px; 
}

.wlt-panel.footer { 
    /* Same value as wlt-header height */
    padding-bottom: 34px; 
}

/**********************************   BUTTON - nested, disabled   **********************************/
button::-moz-focus-inner { border:0; }
.wlt-button {
    display:inline-block; 
    min-width: 10px;
    height: 26px;
    text-align: center; 
    background-color:#d9d9d9; 
    outline:0; 
    border:1px solid #aaa;  
    transition: all 0.1s linear;
    cursor:pointer; 
    -moz-user-select:none; 
    -webkit-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding:0 0.5em;
}
.wlt-button:active, .wlt-button:hover, .wlt-button:focus { background-color:#fff; }
.wlt-button:focus { border-color:#999; }
.wlt-button:active { border-color:#505050; }

.wlt-button.disabled { background-color:transparent; opacity: 0.5; border:none; }
.wlt-button.disabled:active, .wlt-button.disabled:hover, .wlt-button.disabled:focus { background-color:transparent; }
.wlt-button i.fa { font-size: 20px; }

.wlt-button[class*=fa- ]::before { 
    font-family: FontAwesome; 
    padding-right: 0.33em;
    font-size:1rem;
    text-shadow: 0 0 2px #fff;
}