.wui-pane, .wui-pane *, .wui-form, .wui-form *, .wui-lbl, .wui-lbl *, .wui-fe, .wui-fe *, .wui-input, .wui-input *, .ui-datepicker, .wui-combo-dd {
    font-family: Arial, Helvetica, Verdana, sans-serif; font-size:16px; text-decoration: none;
    -moz-box-sizing:    border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing:         border-box !important;
}

/***********************************************   PANE   ***********************************************/
.wui-mask {position:absolute; top:0; left:0; background:rgba(100,100,100,0.25); width:100%; text-align:center; padding-top: 20%; color:#AAA; font-weight:bold; font-size:1.25em;}

/**********************************************   BUTTON    **********************************************/
.wui-btn {
    text-align: center; display:inline-block; background-color:#ccc; width:auto; font-size: 0.8em; border:1px solid transparent;
    -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear;
    color:#555; padding:0 1em; outline:0; cursor:pointer; -moz-user-select:none; -webkit-user-select:none;
}
.wui-btn:active, .wui-btn:hover, .wui-btn.selected  {background-color:#fff; border:1px solid #ccc;}
.wui-btn:active {box-shadow: inset 0 0 10px #333; border:none;}


/***********************************************   FORM   ***********************************************/
/* labels */
.wui-lbl{position:relative; padding-top:26px; margin:0.75em 0;}
.wui-lbl > label {display:block; color:#555; font-weight:bold; font-size:0.9em; position:absolute; left:0; top:0; line-height:26px;}

.wui-lbl.lbl-left { padding:0 0 0 200px; }
.wui-lbl.lbl-right > label, .wui-lbl.lbl-left > label { width:200px; padding-right:1em; text-align:right; display:inline-table; vertical-align:top;}

.wui-lbl.lbl-right { padding:0 200px 0 0; }
.wui-lbl.lbl-right > label { width:200px; padding-left:1em; text-align:left; left:auto; right:0; }

.wui-lbl.lbl-bottom { padding:0 0 26px 0; }
.wui-lbl.lbl-bottom > label { top:auto; bottom:0; }

/* general form element */
.wui-fe {position:relative; height:100%;}

/* textfield / textarea */
.wui-fe input, .wui-fe textarea { color: #444; padding:4px; width:100%; border-radius:4px; font-size: 0.8em; }
.wui-fe input, .wui-fe textarea, .wui-html iframe, .button li label { background-color:#ddd; border:1px solid #ccc; }
.wui-fe .empty { color:#777; }
.wui-fe textarea { height:100%; width:100%; max-height:100%; max-width:100%; }

/* radio/checkbox */
.wui-fe input[type=radio], .wui-fe input[type=checkbox] {width:auto;}
.wui-radio ul, .wui-checkbox ul {list-style:none; display:block; margin:0; padding:0;}
.wui-radio input, .wui-checkbox input, .wui-radio ul label, .wui-checkbox ul label {width:auto; display:inline-block; font-weight:normal; text-transform:none; margin:0; padding:0.2em 0.5em;}

.wui-radio ul.button, .wui-checkbox ul.button {margin-top:0.5em; -moz-user-select:none; -webkit-user-select:none;}
.button li {overflow:hidden; display:inline-block;}
.wui-fe ul.button label {display:inline-block; width:auto; margin:0; padding:0.25em 0.5em;}
	.button li > input {display:none;}
	.button li > input:checked + label { background:rgba(0,0,0,0.3); box-shadow:inset 0 0 2px #777; border-color:#777; }
	.button li:first-child label {border-top-left-radius:4px; border-bottom-left-radius:4px;}
	.button li:last-child label {border-top-right-radius:4px; border-bottom-right-radius:4px;}

.wui-checkbox.button.checked { background:rgba(0,0,0,0.3); box-shadow:inset 0 0 2px #777; border-color:#777; }
	.wui-checkbox.button.has-focus {outline:1px dotted #999;}



/****************************************   JHTMLArea WYSIWYG Styles   *****************************************/
.wui-html, .wui-html * {
    -o-box-sizing: border-box !important; -moz-box-sizing: border-box !important; -webkit-box-sizing: border-box !important; box-sizing: border-box !important;
}
.wui-html {position:relative; display: inline-block; width:100%; overflow:hidden; min-height:70px !important; height:70px;}
.wui-html iframe {
    overflow:auto; width:100%; border-radius:4px; padding-bottom:28px;min-height:100% !important; height:100% !important;
}
.wui-html > div {height:100%;}
.wui-html > .ui-resizable-se {
    right:4px; bottom:4px; width:12px; height:12px; background:#090;
    background:url(../img/wui-icons.png) no-repeat -254px 0;z-index: auto !important;
}
.wui-html .tools {
    min-width:100%; bottom:0; left:0; position:absolute; height:28px; border-top:1px dashed #fff; opacity:0;
    -webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear;
}
.wui-html:hover .tools, .wui-html:focus .tools {opacity:100 !important;}
.wui-html .tools ul { margin: 1px !important; padding: 1px !important; float: left; }
.wui-html .tools ul li { list-style-type: none; float: left; border: none; padding: 3px; margin: 1px; }
.wui-html .tools ul li:hover {background: rgba(255,255,255,0.4);}
.wui-html .tools ul li.separator {height: 16px; margin: 0 2px 0 3px; border-left: 1px solid #ccc;}

.wui-html .tools a { display: block; width: 16px; height: 16px; background: url(../img/wui-icons.png) no-repeat; border: none; cursor: pointer; padding: 0px; }
.wui-html .tools a.highlighted { border: solid 1px #aaa; background-color: #bbb; padding: 0; }

.wui-html .tools a.bold { background-position: -46px 0; }
.wui-html .tools a.italic { background-position: -62px 0; }
.wui-html .tools a.underline { background-position: -79px 0; }
.wui-html .tools a.strikethrough { background-position: -94px 0; }
.wui-html .tools a.link { background-position: -110px 0; }
.wui-html .tools a.unlink { background-position: -126px 0; }
.wui-html .tools a.orderedlist { background-position: -128px -16px; }
.wui-html .tools a.unorderedlist { background-position: -46px -16px; }

.wui-html .tools a.html { background-position: -192px 0; opacity:0.6; filter:alpha(opacity=60);}
.wui-html .tools a.html.highlighted { opacity:1.0; filter:alpha(opacity=100);}

.wui-html .tools a.justifyleft { background-position: -62px -16px;}
.wui-html .tools a.justifycenter { background-position: -77px -16px;}
.wui-html .tools a.justifyright { background-position: -94px -16px;}
.wui-html .tools a.html { background-position: -110px -16px;}


/******************************************   disabled form styles   *******************************************/
.wui-fe input[type=text][disabled], .wui-fe textarea[disabled] { background-color:transparent; border:1px dotted #ccc; color:#ccc; }
.wui-disabled .ui-datepicker-trigger, .wui-disabled.wui-combo .wui-btn, .wui-disabled .wui-combo .wui-btn, .wui-disabled .wui-html > div { display:none; }
.wui-disabled .wui-html textarea {display:inline-block !important;}
.wui-form-err.wui-disabled.wui-fe input[type=text][disabled], .wui-form-err.wui-disabled.wui-fe textarea[disabled] {border-color:#fff; color:#fdd;}
.wui-fe.wui-disabled > label { font-style: italic; font-weight: normal; }







/****************************************   WUI Test Suite and Docs   ****************************************/
.wui-docs {font-family: Arial, Helvetica, Verdana, sans-serif;}
.wui-docs pre {
    background:#444; color: #fff; margin: 2em 0; padding: 1em; -moz-tab-size:4; -o-tab-size:4; tab-size:4; white-space: pre-wrap; font-family:monospace;
}

.wui-btn.wui-docs {height: 40px; line-height: 40px; margin:4em 1em 2em; float:right; clear:right;}

.wui-test-results { margin-top: 3em; width: 100%; border-collapse:separate; border-spacing:1px; table-layout:fixed; }
.wui-test-results, .wui-test-results * {
    font-family: Arial, Helvetica, Verdana, sans-serif; font-size:16px; text-decoration: none;
    -moz-box-sizing:    border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing:         border-box !important;
}

.wui-test-results td, th {
	background-color:#ddd; background-position:center center; border-bottom:0; text-align: left;
	padding:0.25em; position:relative; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.wui-test-smaller {width:80px;}
.wui-test-results th { background-color:#777; color:#fff; font-weight: normal; }
.wui-test-results td.pass { background-color: #33B42D; color:#fff; }
.wui-test-results td.fail { background-color: #B42D33; color:#fff; font-weight:bold; }

.wui-docs .wui-test-results pre {margin:0; padding-left:0.5em; font-size:0.75em; background-color:transparent; color:#000;}
